/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #8CC461;
    /* background: radial-gradient(at top, #ac0000, #f12828); */
    min-height: 100vh;
    text-transform: uppercase;
    color: white;

}

/* Main Content */
.container {
    position: relative;
    max-width: 900px;
    margin: auto;
    padding-top: 3rem;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    border: 3px solid white;
    border-radius: 13px;
    padding: 1rem;

}

.logo p {
    font-size: 40px;
    color: white;
    font-weight: 600;
}

.score-container {
    display: flex;
    gap: 20px;

}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
    width: 150px;
}

.score-title {
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    color: #656565;
    text-align: center;
    font-weight: 600;
    padding: 6px;
}

.score-num {
    font-size: 4.1rem;
    font-weight: 600;
    color: black;

}

/* Game */

.game {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "rock scissors"
        "paper paper";
    ;
    place-items: center;
    height: 30rem;
    width: 50%;
    margin: auto;
    padding-top: 4rem;
}

.game::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 75%;
    left: 30%;
    top: 34%;
    background: url('img/bg-triangle.svg') no-repeat;
    z-index: -1;
}

.choice-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

}

.choice {
    position: relative;
    width: 10rem;
    height: 10rem;
    background: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0px 0px 10px #595252;
}

.choice::before,
.choice::after {
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -15%;
    right: -15%;
    border-radius: 50%;
    z-index: -1;
}

.choice::after {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.choice-btn:focus .choice::after {
    opacity: 1;
    box-shadow: 0 0 0 2rem rgb(94, 184, 94);
    z-index: -2;
}

.choice img {
    transform: scale(1.5);
  }

.choice.rock::before {
    background: #0074B6;
}

.choice.scissors::before {
    background: #BD00FF;
}

.choice.paper::before {
    background: #FFA943;
}

.choice-btn[data-choice="paper"] {
    grid-area: paper;
}

.choice-btn[data-choice="scissors"] {
    grid-area: scissors;
}

.choice-btn[data-choice="rock"] {
    grid-area: rock;
}

/* Results */
.results {
    display: grid;
    grid-template-columns: repeat(2. 1fr);
    place-items: center;
    grid-template-areas:
        "you-title pc-title"
        "you-picked pc-picked";
    max-width: 1000px;
    margin: 0 auto;
}

.results-heading{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 4rem 0 8rem;
}
.results-result{
    min-width: 10rem;
    min-height: 10rem;
    background: rgba(5, 12, 1, 0.555);
    border-radius: 50%;
    transform: scale(1.4);
    z-index: -1;
}
.results-heading:first-of-type {
    grid-area: you-title;
}
.results-heading:last-of-type {
    grid-area: pc-title;
}
.results-result:first-of-type {
    grid-area: you-picked;
}
.results-result:last-of-type {
    grid-area: pc-picked;
}

.results.show-winner{
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "you-title . pc-title"
    "you-picked result-winner pc-picked";
}

.winner .choice::after {
    box-shadow: 0 0 0 40px #293251, 0 0 0 80px #232c4b, 0 0 0 130px #1e2949;
    /* background: url('img/Winnerhighlight.png'); */
    animation: winner 1s ease forwards;
    opacity: 1;
  }
  
  @keyframes winner {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.results-winner{
    /* grid-area: result-winner;
    display: grid;
    place-items: center; */
    position: relative;
    left: 240px;
    bottom: 140px;
}
.results-text{
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
}
.play-again{
    background: white;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    color: black;
    padding: 10px 22px;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
}
.play-again:focus{
    border: 2px solid rgba(0, 0, 0, 0.329);
}
/* Rules Button */

.rules-container {
    width: 300px;
    position: absolute;
    right: 3rem;
    top: 17rem;
    border: 7px solid white;
    border-radius: 13px;
    background-color: #004429;
    padding: 2rem;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    /* pointer-events: none; */
}

.rules-container h1 {
    padding-bottom: 16px;
    text-align: center;
    text-transform: capitalize;
}

.rules-container ul {
    list-style-image: url(img/Rectangle\ 5.png);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rules-container ul li {
    line-height: 1rem;
    font-size: 13px;
    text-transform: initial;
}

.rules-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.479);
    border-radius: 0.6rem;
    color: white;
    padding: 10px 20px;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    cursor: pointer;

}

.rules-btn:focus {
    border: 2px solid white;
}

.close-btn {
    position: absolute;
    top: -32px;
    right: -26px;
    width: 4rem;
    height: 4rem;
    border: 6px solid white;
    border-radius: 50%;
    color: white;
    background-color: red;
    font-size: 2.4rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.show-rules {
    opacity: 1;
    /* pointer-events: initial; */
}


/* Utilities */

.preload {
    transform: none;
}

.hidden{
    /* display: none; */
}